.bg-primary {
  background-color: #2E5A8A !important;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f8f9fa;
  /* flex: auto; */
  border: #007bff 3px solid;
  /* height: 100dvh; */
  height: 100%;
}
.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
  border: #DF0E0E 4px solid;
}
img {
  /* width: 100%; */
  max-width: 100%;
  /* height: auto; */
  max-height: 30vh; /* Не превышает высоту экрана */
  object-fit: contain; /* Масштабирование без обрезки */
  /* border: #007bff 1px solid; */
}

.imageLink {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.55);
  /* height: 100%; */
  /* width: 50%; */

}

h1 {
  font-weight: bold;
}
main p {
  /* font-size: 2em; */
  font-weight: bold;
}

header {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.55);
  background-color: #007bff;
}

main {
  flex: 1;

  margin-top: 20px;
  /* border: #007bff 1px solid; */
}

footer {
  background-color: #343a40;
}

/* main img {
  margin-top: 20px;
} */
