.bg-primary {
  background-color: #2E5A8A !important;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f8f9fa;
  /* flex: auto; */
  border: #007bff 3px solid;
  height: 100vh;
}
.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
img {
  /* width: 100%; */
  max-width: 100%;
  height: auto;
  max-height: 50vh; /* Не превышает высоту экрана */
  object-fit: contain; /* Масштабирование без обрезки */
  /* border: #007bff 1px solid; */
}

.imageLink {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.55);

}

h1 {
  font-weight: bold;
}

header {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.55);
  background-color: #007bff;
}

main {
  flex: 1;

  margin-top: 20px;
  /* border: #007bff 1px solid; */
}

footer {
  background-color: #343a40;
}

/* main img {
  margin-top: 20px;
} */
